# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.ncb
*.opensdf
*.sdf
*.ipch
*.db
*.log

# Build folders
Debug/
Release/
x64/
*.obj
*.exe
*.pdb
*.ilk

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Outros temporários
*.cache
*.tlog
*.log
*.user
*.VC.db
*.aps
